Source: tuquito-accel
Section: misc
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-accel
Architecture: all
Depends: python-pygame, halevt, wmctrl
Description: Accelerometer in classmatePC
 Accelerometer in classmatePC.
 *Tuquito Team! - 2010
