[Desktop Entry]
Name=Tuquito Accelerometer
Comment=Accelerometer in classmatePC
Type=Application
Exec=tuquito-accel-launcher
Terminal=false
Categories=Utility;
